@font-face {
  font-family: "casio-font";
  src: url("./digital-7-italic.ttf") format("truetype");
}

.casio-display {
  font-family: "DSEG7-Classic", sans-serif;
  padding: 10px;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #1d3557;
  width: 60%;
}

.home,
.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  font-weight: 800;
  font-family: Arial;
  font-size: 1.5rem;
  margin-bottom: 5px;
  text-align: center;
}

.score {
  padding: 5px 10px;
  background-color: black;
  margin-bottom: 7px;
  border-radius: 3px;
  font-family: "casio-font", sans-serif;
  font-size: 3.2rem;
}

#home-score,
#guest-score {
  color: #d90429;
  margin: 0px;
}

.point-ctr-container {
  display: flex;
  justify-content: space-around;
}

.point-ctr {
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  align-items: center;
  color: white;
  font-family: "casio-font", sans-serif;
  background-color: #1d3557;
}

#reset-btn {
  background-color: #32cd32;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 4px 10px;
  border: 1px solid #228b22;
  border-radius: 7px;
}

#reset-btn:hover {
  background-color: #228b22;
}
